body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.logo {
  width: auto;
  height: 60px;
  margin: 0 auto;
  display: block;
}

.search-container {
  position: relative;
  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
  button{
    height: 40px;
    border: 0;
    background: transparent;
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    &:focus {
      outline: none;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-clamp {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
 -webkit-box-orient: vertical;
-webkit-line-clamp: 2;
display: -webkit-box;
}

.home-product-card {
  padding: 10px;
  flex-direction: column;
  a {
    text-decoration: none;
    color: black;
  }
  img {
    height: auto;
    width: auto;
    padding: 10px;
    object-fit: fill;
    max-width: 150px;
    max-height: 150px;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    color: darkblue;
  }
}

.product-full {
  padding: 10px;
  img {
    height: auto;
    width: auto;
    padding: 10px;
    object-fit: fill;
    max-width: 300px;
    max-height: 300px;
  }
  h1 {
    font-size: 18px;
    font-weight: 600;
  }
  span {
    font-size: 14px;
    font-weight: 600;
    color: darkblue;
  }
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  font-size: 25px;
  color: #000;
}

.search {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  .search-product-card{
    width: 200px;
  }
}